body,h1,h2,h3,h4,h5,dl,dd,ol,form,input,textarea,th,td,select,p,ul,strong,span,em,hr,input { margin:0 !important; padding:0 !important; }

em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; margin-bottom: 30px;}